body {
    background-color: #f8f9fa;
    font-family: monospace;
}

h1 {
    color: #007bff;
}

.desc {
    color:black;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
}

.speech img,
.speech .desc1 {
  display: inline-block;
  vertical-align: middle;
}

img {
    margin-left: 220px;
}

.desc1 {
    background-color: lightskyblue;
    color:floralwhite;
    text-align: center;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}

.card {
    max-width: 600px;
    margin: auto;
    border-radius: 12px;
    border: none;
}

#result {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.result-card {
    background: #fff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-card p {
    margin: 0;
}

.result-card a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
